@import '../../vendor/filament/filament/resources/css/app.css';

.filepond--image-preview {
    background: red;
}

.filepond--root .filepond--image-preview {
    background: red;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: red;
}
[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: #369763;
}
